<!-- CSS | menuzord megamenu skins -->
<%= stylesheet_link_tag 'menuzord-boxed.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<!-- JS | script for google custom searches -->
<%= javascript_include_tag 'https://cse.google.com/cse.js?cx=010039346642802683348:p94e0yp2jk9' %>
<div class="blog-posts">
  <div class="col-md-12">
    <div class="row list-dashed">
      <% unless @posts.nil? %>
      <% @posts.each do |post| %>
        <% case post.json.dig('custom_json', 'fields', 'postType', 'content_type_id') %>
        <% when 'imagesCarouselPost' %>
          <article class="post clearfix mb-50 pb-30">
            <div class="entry-header">
              <div class="post-thumb">
                <div class="widget-image-carousel">
                  <% post.json.dig('custom_json', 'fields', 'postType', 'galeryPhotos').each do |image| %>
                  <div class="item">
                    <img src=<%= image['file']['url'] %> alt= <%= image['description'] %> >
                  </div>
                  <% end %>
                </div>
              </div>
              <h5 class="entry-title"><%= link_to post.json.dig('custom_json', 'fields', 'title'), "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}" %></h5>
              <ul class="list-inline font-12 mb-20 mt-10">
                <li>posted by <!-- #TODO Create a Bio page -->
                  <% post.json.dig('custom_json', 'fields', 'authors').each do |author| %>
                      <a href= "" class="text-theme-colored"><%= author['name'] %> |</a>
                  <% end %>
                </li>
                <li><span class="text-theme-colored"><!-- #TODO Convert to user date format -->
                  <%= post.json.dig('custom_json', 'fields', 'publishDate')[0..9] %></span>
                </li>
              </ul>
            </div>
            <div class="entry-content">
              <p class="mb-30"><%= post.json.dig('custom_json', 'fields', 'description') %></p>
              <ul class="list-inline like-comment pull-left font-12">
                <li><i class="pe-7s-comment"></i><!-- #TODO Insert Comments Quantity -->36</li>
                <li><i class="pe-7s-like2"></i><!-- #TODO Insert Likes Quantity -->125</li>
              </ul>
              <a class="pull-right text-gray font-13" href=<%= "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}"%>><i class="fa fa-angle-double-right text-theme-colored"><!-- #TODO Translate key--></i> Leia mais</a>
            </div>
          </article>
        <% when 'quotationPost' %>
          <article class="post clearfix mb-50 pb-30">
            <div class="entry-header">
              <h5 class="entry-title mt-0 pt-0"><%= link_to post.json.dig('custom_json', 'fields', 'title'), "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}" %></h5>
              <ul class="list-inline font-12 mb-20 mt-10">
                <li>posted by <!-- #TODO Create a Bio page -->
                  <% post.json.dig('custom_json', 'fields', 'authors').each do |author| %>
                      <a href= "" class="text-theme-colored"><%= author['name'] %> |</a>
                  <% end %>
                </li>
                <li><span class="text-theme-colored"><!-- #TODO Convert to user date format -->
                  <%= post.json.dig('custom_json', 'fields', 'publishDate')[0..9] %></span>
                </li>
              </ul>
            </div>
            <div class="entry-content">
              <div class="">
                <blockquote class="gray">
                  <!-- #TODO fix markdown content -->
                  <p><%= post.json.dig('custom_json', 'fields', 'postType', 'body') %></p>
                  <footer><%= post.json.dig('custom_json', 'fields', 'postType', 'source')%> </footer>
                </blockquote>
              </div>
              <ul class="list-inline like-comment pull-left font-12 mt-30">
                <li><i class="pe-7s-comment"></i><!-- #TODO Insert Comments Quantity -->36</li>
                <li><i class="pe-7s-like2"></i><!-- #TODO Insert Likes Quantity -->125</li>
              </ul>
            </div>
          </article>
        <% when 'singleImagePost' %>
          <article class="post clearfix mb-50 pb-30">
            <div class="entry-header">
              <div class="post-thumb">
                <img alt="" class="img-fullwidth img-responsive" src=<%=post.json.dig('custom_json', 'fields', 'postType', 'singleImage', 'file', 'url')%> >
              </div>
              <h5 class="entry-title"><%= link_to post.json.dig('custom_json', 'fields', 'title'), "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}" %></h5>
              <ul class="list-inline font-12 mb-20 mt-10">
                <li>posted by <!-- #TODO Create a Bio page -->
                  <% post.json.dig('custom_json', 'fields', 'authors').each do |author| %>
                      <a href= "" class="text-theme-colored"><%= author['name'] %> |</a>
                  <% end %>
                </li>
                <li><span class="text-theme-colored"><!-- #TODO Convert to user date format -->
                  <%= post.json.dig('custom_json', 'fields', 'publishDate')[0..9] %></span>
                </li>
              </ul>
            </div>
            <div class="entry-content">
              <p class="mb-30"><%= post.json.dig('custom_json', 'fields', 'description') %></p>
              <ul class="list-inline like-comment pull-left font-12">
                <li><i class="pe-7s-comment"></i><!-- #TODO Insert Comments Quantity -->36</li>
                <li><i class="pe-7s-like2"></i><!-- #TODO Insert Likes Quantity -->125</li>
              </ul>
              <a class="pull-right text-gray font-13" href=<%= "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}"%>><i class="fa fa-angle-double-right text-theme-colored"><!-- #TODO Translate key--></i> Leia mais</a>
            </div>
          </article>
        <% when 'soundPost' %>
          <article class="post clearfix mb-50 pb-30">
            <div class="entry-header">
              <div class="post-thumb">
                <iframe width="600" height="340" src=<%= post.json.dig('custom_json', 'fields', 'postType', 'soundUrl') %> ></iframe>
              </div>
              <h5 class="entry-title"><%= link_to post.json.dig('custom_json', 'fields', 'title'), "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}" %></h5>
              <ul class="list-inline font-12 mb-20 mt-10">
                <li>posted by <!-- #TODO Create a Bio page -->
                  <% post.json.dig('custom_json', 'fields', 'authors').each do |author| %>
                      <a href= "" class="text-theme-colored"><%= author['name'] %> |</a>
                  <% end %>
                </li>
                <li><span class="text-theme-colored"><!-- #TODO Convert to user date format -->
                  <%= post.json.dig('custom_json', 'fields', 'publishDate')[0..9] %></span>
                </li>
              </ul>
            </div>
            <div class="entry-content">
              <p class="mb-30"><%= post.json.dig('custom_json', 'fields', 'description') %></p>
              <ul class="list-inline like-comment pull-left font-12">
                <li><i class="pe-7s-comment"></i><!-- #TODO Insert Comments Quantity -->36</li>
                <li><i class="pe-7s-like2"></i><!-- #TODO Insert Likes Quantity -->125</li>
              </ul>
              <a class="pull-right text-gray font-13" href=<%= "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}"%>><i class="fa fa-angle-double-right text-theme-colored"><!-- #TODO Translate key--></i> Leia mais</a>
            </div>
          </article>
        <% when 'textPost' %>
          <article class="post clearfix mb-50 pb-30">
            <div class="entry-header">
              <h5 class="entry-title mt-0 pt-0"><%= link_to post.json.dig('custom_json', 'fields', 'title'), "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}" %></h5>
              <ul class="list-inline font-12 mb-20 mt-10">
                <li>posted by <!-- #TODO Create a Bio page -->
                  <% post.json.dig('custom_json', 'fields', 'authors').each do |author| %>
                      <a href= "" class="text-theme-colored"><%= author['name'] %> |</a>
                  <% end %>
                </li>
                <li><span class="text-theme-colored"><!-- #TODO Convert to user date format -->
                  <%= post.json.dig('custom_json', 'fields', 'publishDate')[0..9] %></span>
                </li>
              </ul>
            </div>
            <div class="entry-content">
              <p class="mb-30"><%= post.json.dig('custom_json', 'fields', 'description') %></p>
              <ul class="list-inline like-comment pull-left font-12">
                <li><i class="pe-7s-comment"></i><!-- #TODO Insert Comments Quantity -->36</li>
                <li><i class="pe-7s-like2"></i><!-- #TODO Insert Likes Quantity -->125</li>
              </ul>
              <a class="pull-right text-gray font-13" href=<%= "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}"%>><i class="fa fa-angle-double-right text-theme-colored"><!-- #TODO Translate key--></i> Leia mais</a>
            </div>
          </article>
        <% when 'videoPost' %>
          <article class="post clearfix mb-50 pb-30">
            <div class="entry-header">
              <div class="post-thumb">
                <iframe width="600" height="340" allowfullscreen
                        src=<%= post.json.dig('custom_json', 'fields', 'postType', 'videoUrl') %> >
                </iframe>
              </div>
              <h5 class="entry-title"><%= link_to post.json.dig('custom_json', 'fields', 'title'), "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}" %></h5>
              <ul class="list-inline font-12 mb-20 mt-10">
                <li>posted by <!-- #TODO Create a Bio page -->
                  <% post.json.dig('custom_json', 'fields', 'authors').each do |author| %>
                      <a href= "" class="text-theme-colored"><%= author['name'] %> |</a>
                  <% end %>
                </li>
                <li><span class="text-theme-colored"><!-- #TODO Convert to user date format -->
                  <%= post.json.dig('custom_json', 'fields', 'publishDate')[0..9] %></span>
                </li>
              </ul>
            </div>
            <div class="entry-content">
              <p class="mb-30"><%= post.json.dig('custom_json', 'fields', 'description') %></p>
              <ul class="list-inline like-comment pull-left font-12">
                <li><i class="pe-7s-comment"></i><!-- #TODO Insert Comments Quantity -->36</li>
                <li><i class="pe-7s-like2"></i><!-- #TODO Insert Likes Quantity -->125</li>
              </ul>
              <a class="pull-right text-gray font-13" href=<%= "/posts/#{post.json.dig('custom_json', 'fields', 'slug')}"%>><i class="fa fa-angle-double-right text-theme-colored"><!-- #TODO Translate key--></i> Leia mais</a>
            </div>
          </article>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <%= paginate @posts %>
  </div>
</div>
