<!-- JS | script for google custom searches TODO DRY google cse reloads in all view-->
<%= javascript_include_tag 'https://cse.google.com/cse.js?cx=010039346642802683348:p94e0yp2jk9' %>
<div class="blog-posts single-post">
  <article class="post clearfix mb-0">
    <div class="entry-header">
      <div class="post-thumb thumb"> <img src="http://placehold.it/730x400" alt="" class="img-responsive img-fullwidth"> </div>
    </div>
    <div class="entry-title pt-0">
      <h3><%= @post.json.dig('custom_json', 'fields', 'title') %></h3>
    </div>
    <div class="entry-meta">
      <ul class="list-inline">
        <li>Posted: <span class="text-theme-colored"><!-- #TODO Convert to user date format -->
            <%= @post.json.dig('custom_json', 'fields', 'publishDate')[0..9] %></span>
        </li>
        <li>By:
          <% @post.json.dig('custom_json', 'fields', 'authors').each do |author| %>
              <!-- Adjust authors href -->
              <span class="text-theme-colored"><a href= "" class="text-theme-colored"><%= author['name'] %> |</a></span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="entry-content mt-10">
      <%= @post.json.dig('custom_json', 'fields', 'postType', 'body') %>
      <div class="mt-30 mb-0">
        <h5 class="pull-left mt-10 mr-20 text-theme-colored">Share:</h5>
        <ul class="social-icons icon-circled m-0">
          <%= social_share_button_tag(@post.json.dig('custom_json', 'fields', 'title')) %>
        </ul>
      </div>
    </div>
  </article>
  <div class="tagline p-0 pt-20 mt-5">
    <div class="row">
      <div class="col-md-8">
        <div class="tags">
          <p class="mb-0"><i class="fa fa-tags text-theme-colored"></i> <span>Tags:</span>
            <% @post.json.dig('custom_json', 'fields', 'tags').each do |post_tag| %>
                <a href="/posts?tag=<%=post_tag['tag']%>"><%= post_tag['tag'] %></a>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="author-details media-post">
    <a href="#" class="post-thumb mb-0"><img class="img-thumbnail" alt="" src="http://placehold.it/125x148"></a>
    <div class="post-right">
      <h5 class="post-title mt-0 mb-0"><a href="#" class="font-18">John Doe</a></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <ul class="social-icons square-sm m-0">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>

  <div id="disqus_thread"></div>
  <!-- Disqus comments area -->
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
      this.page.url = <%= request.original_url %>;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = <%= @post.json.dig('custom_json', 'fields', 'slug') %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://engenho.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
