<nav id="menuzord-right" class="menuzord blue bg-lightest">
  <a class="menuzord-brand pull-left flip" href="javascript:void(0)">
    <!-- TODO To include logo into contentful model -->
    <%= image_tag 'logo-wide.png' %>
  </a>
  <!-- TODO Refactor menu view. Create helper methods -->
  <% unless @menu_items.nil? %>
      <ul class="menuzord-menu">
        <% @menu_items.each do |menuitem| %>
            <li><a <% if menuitem.key?('url') %>
                   href=<%= menuitem['url'] %>>
            <% elsif menuitem.key?('reference') %>
              <% case menuitem['reference']['content_type_id'] %>
              <% when "blogPage" %>
              href=<%="/blog_pages/#{ menuitem['reference']['slug']}"%>>
              <% when "blogPost" %>
              href=<%="/posts/#{ menuitem['reference']['slug']}"%>>
              <% end %>
            <% else %>
            >
            <% end %>
                   <%= menuitem['title'] %></a>
              <% if menuitem.key?('level1') %>
                  <ul class="dropdown">
                    <% menuitem['level1'].each do |level1| %>
                        <li><a <% if level1.key?('url') %>
                               href=<%= level1['url'] %>>
                        <% elsif level1.key?('reference') %>
                          <% case level1['reference']['content_type_id'] %>
                          <% when "blogPage" %>
                          href=<%="/blog_pages/#{ level1['reference']['slug']}"%>>
                          <% when "blogPost" %>
                          href=<%="/posts/#{ level1['reference']['slug']}"%>>
                          <% end %>
                        <% else %>
                        >
                        <% end %>
                               <%= level1['title'] %></a>
                          <% if level1.key?('level2') %>
                              <ul class="dropdown">
                                <% level1['level2'].each do |level2| %>
                                    <li><a <% if level2.key?('url') %>
                                           href=<%= level2['url'] %>>
                                           <% elsif level2.key?('reference') %>
                                              <% case level2['reference']['content_type_id'] %>
                                                <% when "blogPage" %>
                                                href=<%="/blog_pages/#{ level2['reference']['slug']}"%>>
                                                <% when "blogPost" %>
                                                href=<%="/posts/#{ level2['reference']['slug']}"%>>
                                                <% end %>
                                            <% else %>
                                            >
                                            <% end %>
                                           <%= level2['title'] %></a></li>
                                <% end %>
                              </ul>
                          <% end %>
                        </li>
                    <% end %>
                  </ul>
              <% end %>
            </li>
        <% end %>
      </ul>
  <% end %>
</nav>