<head>
  <!-- #TODO change title according the route -->
  <title>Engenho</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Medinova Layout -->
  <!-- #TODO automate meta according content -->
  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Medinova - Health & Medical HTML Template" />
  <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
  <meta name="author" content="ThemeMascot" />

  <!-- Favicon and Touch Icons -->
  <!-- #TODO replace favicon with new one -->
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png' %>

  <!-- Stylesheet -->
  <%= stylesheet_link_tag 'jquery-ui.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'animate.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'css-plugin-collections.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag 'medinova-font-icons.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- CSS | menuzord megamenu skins -->
  <%= stylesheet_link_tag 'menuzord-boxed.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- CSS | Main style file -->
  <%= stylesheet_link_tag 'style-main.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- CSS | Preloader Styles -->
  <%= stylesheet_link_tag 'preloader.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- CSS | Custom Margin Padding Collection -->
  <%= stylesheet_link_tag 'custom-bootstrap-margin-padding.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- CSS | Responsive media queries -->
  <%= stylesheet_link_tag 'responsive.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
  <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

  <!-- CSS | Theme Color -->
  <%= stylesheet_link_tag 'theme-skin-blue.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- external javascripts -->
  <%= javascript_include_tag 'jquery-2.2.0.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery-ui.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
  <!-- JS | jquery plugin collection for this theme -->
  <%= javascript_include_tag 'jquery-plugin-collection', 'data-turbolinks-track': 'reload' %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" %>
  <%= javascript_include_tag "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>

  <![endif]-->
  <!-- JS | script for google custom searches -->
  <%= javascript_include_tag 'https://cse.google.com/cse.js?cx=010039346642802683348:p94e0yp2jk9' %>
</head>
<body>
  <div id="wrapper">
    <!-- Header -->
    <header id="header" class="header">
      <div class="header-top bg-theme-colored sm-text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="widget no-border m-0">
                <ul class="social-icons icon-dark icon-theme-colored icon-sm sm-text-center">
                  <li><a href=<%= @layout_data.json.dig('custom_json', 'fields', 'socialMedia', 'facebook') %>><i class="fa fa-facebook"></i></a></li>
                  <li><a href=<%= @layout_data.json.dig('custom_json', 'fields', 'socialMedia', 'twitter') %>><i class="fa fa-twitter"></i></a></li>
                  <li><a href=<%= @layout_data.json.dig('custom_json', 'fields', 'socialMedia', 'youtube') %>><i class="fa fa-youtube"></i></a></li>
                  <li><a href=<%= @layout_data.json.dig('custom_json', 'fields', 'socialMedia', 'instagram') %>><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-lightest">
          <div class="container">
            <!-- menu content -->
            <%= render 'layouts/main_menu'%>
          </div>
        </div>
      </div>
    </header>

    <!-- Start main-content -->
    <div class="main-content">
      <% if params[:controller] == "blog/posts" && params[:action] == "index" %>
      <!-- Section: inner-header -->
      <!-- TODO Change data-bg-img= to own image -->
      <section class="inner-header divider layer-overlay overlay-deep" data-bg-img="http://placehold.it/1920x1280">
        <div class="container pt-90 pb-50">
          <!-- Section Content -->
          <div class="section-content">
            <div class="row">
              <div class="col-md-12 xs-text-center">
                <!-- #TODO insert into contentful layout -->
                <h2 class="font-28"><%= @layout_data.json.dig('custom_json', 'fields', 'content', 'blogTitle') %></h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% end %>
      <% if params[:controller] == "blog/blog_pages" %>
      <!-- Section: inner-header -->
      <section class="inner-header bg-black-222">
        <div class="container pt-10 pb-10">
          <!-- Section Content -->
          <div class="section-content">
            <div class="row">
              <div class="col-sm-8 xs-text-center">
                <h3 class="text-white mt-10"><%= @page.json.dig('custom_json', 'fields', 'title') %></h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% end %>
      <section>
        <div class="container mt-30 mb-30 pt-30 pb-30">
          <div class="row ">
            <!-- posts and blog_pages content -->
            <div class="col-md-9 blog-pull-right">
              <%= yield %>
            </div>
            <!-- left sidebar -->
            <div class="col-sm-12 col-md-3">
              <div class="sidebar sidebar-left mt-sm-30">
                <%= render 'layouts/widget_search_box' %>
                <% if params[:controller] == "blog/posts" && params[:action] == "show" %>
                  <%= render 'layouts/widget_related_posts' %>
                <% end %>
                <%= render 'layouts/widget_highlighted_posts' %>
                <%= render 'layouts/widget_posts_categories' %>
                <%= render 'layouts/widget_tags' %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end main-content -->

    <!-- Footer -->
    <footer id="footer" class="footer pb-0 bg-black-111">
      <div class="container pb-20">
        <div class="row multi-row-clearfix">
          <div class="col-sm-6 col-md-3">
            <!-- TODO To include logo into contentful model -->
            <div class="widget dark"> <%= image_tag 'logo-wide-white.png' %>
              <p class="font-12 mt-20 mb-10"><%= @layout_data.json.dig('custom_json', 'fields', 'content', 'summary') %></p>
              <!-- TODO Link Read More to a Page -->
              <a class="text-gray font-12" href="#"><i class="fa fa-angle-double-right text-theme-colored"></i> Leia mais</a>
              <ul class="social-icons icon-dark mt-20">
                <li><a href=<%= @layout_data.json.dig('custom_json', 'fields', 'socialMedia', 'facebook') %> data-bg-color="#3B5998"><i class="fa fa-facebook"></i></a></li>
                <li><a href=<%= @layout_data.json.dig('custom_json', 'fields', 'socialMedia', 'twitter') %> data-bg-color="#02B0E8"><i class="fa fa-twitter"></i></a></li>
                <li><a href=<%= @layout_data.json.dig('custom_json', 'fields', 'contacts', 'skype') %> data-bg-color="#05A7E3"><i class="fa fa-skype"></i></a></li>
                <li><a href=<%= @layout_data.json.dig('custom_json', 'fields', 'socialMedia', 'instagram') %> data-bg-color="#A11312"><i class="fa fa-instagram"></i></a></li>
                <li><a href=<%= @layout_data.json.dig('custom_json', 'fields', 'socialMedia', 'youtube') %> data-bg-color="#C22E2A"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Links Principais</h5>
              <ul class="list-border list theme-colored angle-double-right">
                <% @layout_data.json.dig('custom_json', 'fields', 'content', 'footerQuickLinks').each do |page| %>
                <li><a href=<%= page['slug'] %>><%= page['title'] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Contato</h5>
              <ul class="list list-border">
                <li><a href="#"><%= @layout_data.json.dig('custom_json', 'fields', 'contacts', 'phone1') %></a></li>
                <li><a href="#"><%= @layout_data.json.dig('custom_json', 'fields', 'contacts', 'email') %></a></li>
                <li><a href="#" class="lineheight-20"><%= @layout_data.json.dig('custom_json', 'fields', 'contacts', 'address') %></a></li>
                <%= render 'layouts/subscribe' %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-nav bg-black-222 p-20">
        <div class="row text-center">
          <div class="col-md-12">
            <p class="text-white font-11 m-0"><%= @layout_data.json.dig('custom_json', 'fields', 'content', 'copyright') %></p>
          </div>
        </div>
      </div>
    </footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  </div>
  <!-- end wrapper -->

  <!-- Footer Scripts -->
  <!-- JS | Custom script for all blog_pages -->

  <%= javascript_include_tag 'custom', 'data-turbolinks-track': 'reload' %>
</body>
